<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- .::BOOTSTRAP::. -->
    <link type="text/css" rel="stylesheet" href="../css/bootstrap.min.css" />
    <!-- .::PERSONALIZADO::. -->
    <link rel="stylesheet" href="../styles/styles.css" />

    <title>Mi Sitio Web</title>
  </head>

  <body>
    <!-- .::NAVBAR::. -->
    <div class="navbar navbar-dark bg-dark navbar-expand-md fixed-top ">
      <div class="container">
        <a href="#" class="navbar-brand">
          <strong>NavBar</strong> Este es el navbar
        </a>
      </div>
    </div>
    <!-- .::BIENVENIDO::. -->
    <div class="container-fluid bg-info mt-5 ">
      <div class="col-12 bg-info ml-4 ">
        <h1>Bienvenido!! <small>ingresa ya!! </small></h1>
      </div>
    </div>
    <!-- .::SECTION 1::. -->
    <section class="container m-3 ">
      <div class="row">
        <div class="col-12 col-md-6 ">
          <img
            src="../assets/img/img_1.jpg"
            alt="imagen1"
            class=" img-fluid m-4 p-4 rounded-circle "
          />
        </div>
        <div class="col-12 col-md-6 p-4 d-flex align-items-center ">
          <article class="container border-left ">
            <h1>Title <small>Provident eum exercitationem.</small></h1>
            <p class="text-justify">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              Eligendi, et quas explicabo, praesentium earum a voluptas
              cupiditate laudantium, mollitia assumenda asperiores natus unde
              reiciendis molestias quae aliquid doloremque. Incidunt, totam.
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore
              assumenda nisi corrupti eos quisquam natus, hic iure veniam, ut
              quae totam cupiditate dolor tempora magni! Quod deleniti dolores
              harum labore.
            </p>
          </article>
        </div>
      </div>
    </section>
    <!-- <hr> -->
    <!-- .::SECTION 2::. -->
    <section class="container mt-5 border-top  ">
      <div class="row">
        <div class="col-12 col-md-4 d-flex align-items-center ">
          <div class="container ">
            <div class="row">
              <div class="col-12 col-md-6">
                <img
                  src="../assets/img/celular.svg"
                  class="img-fluid img-thumbnail rounded-circle "
                  alt=""
                />
              </div>
            </div>
            <div class="container mt-3 ">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum
                consequatur corporis ducimus minus architecto laborum,
                voluptatem quae, sed nulla quisquam dicta, exercitationem facere
                optio. Maxime deleniti nihil eligendi. Quam, nesciunt?
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4 p-3 text-justify ">
          <img
            src="../assets/img/isometric.jpg"
            class="img-fluid rounded-circle img-thumbnail "
            alt=""
          />
        </div>
        <div class="col-12 col-md-4 d-flex align-items-center ">
          <div class="container ">
            <div class="row">
              <div class="col-12 col-md-6">
                <img
                  src="../assets/img/celular.svg"
                  class="img-fluid img-thumbnail rounded-circle "
                  alt=""
                />
              </div>
            </div>
            <div class="container mt-3 text-justify ">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum
                consequatur corporis ducimus minus architecto laborum,
                voluptatem quae, sed nulla quisquam dicta, exercitationem facere
                optio. Maxime deleniti nihil eligendi. Quam, nesciunt?
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- .::FORMULARIO::. -->
    <!-- <section class="container pt-4 border ">
        <h1>Informacion del Candidato <small>ingresa aqui los datos del candidato</small></h1>
        <hr>
        <div class="row p-2 justify-content-center ">
            <div class="col-12 col-md-5 border shadow pt-2 mr-2">

                <form>
                    <div class="form-group row">
                        <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm"><strong>Nombre</strong></label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control form-control-sm" id="colFormLabelSm" placeholder="ingresa nombre">
                        </div>
                        <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm pt-3"><strong>Apellidos</strong></label>
                        <div class="col-sm-10 pt-2">
                            <input type="text" class="form-control form-control-sm  " id="colFormLabelSm" placeholder="ingresa apellidos">
                        </div>
                        <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm pt-3"><strong>Telefono</strong></label>
                        <div class="col-sm-10 pt-2">
                            <input type="text" class="form-control form-control-sm  " id="colFormLabelSm" placeholder="ingresa apellidos">
                        </div>
                        <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm pt-3"><strong>E.Civil</strong></label>
                        <div class="col-sm-10 pt-2 mb-2">
                            <select class="custom-select custom-select-sm">
  <option selected>Estado civil</option>
  <option value="1">Soltero</option>
  <option value="2">Casado</option>
  <option value="3">Union libre</option> 
    </div>

<label form="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm pt-3">
    <strong>Apellidos</strong>
</label>
    <div class="col-sm-10 pt-2">
      <input type="text" class="form-control form-control-sm  " id="colFormLabelSm" placeholder="ingresa apellidos">
    </div>
  </div>
  </form>
        </div>
        <div class="col-12 col-md-5 border shadow pt-2">
           <form>
  <div class="form-group row">
    <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm"><strong>Direccion</strong></label>
    <div class="col-sm-10">
      <input type="text" class="form-control form-control-sm" id="colFormLabelSm" placeholder="ingresa Direccion">
    </div>
    <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm pt-3"><strong>E-mail</strong></label>
    <div class="col-sm-10 pt-2">
      <input type="E-mail" class="form-control form-control-sm  " id="colFormLabelSm" placeholder="ingresa e-mail">
    </div>
    <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm pt-3"><strong>Apellidos</strong></label>
    <div class="col-sm-10 pt-2">
      <input type="text" class="form-control form-control-sm  " id="colFormLabelSm" placeholder="ingresa apellidos">
    </div>
    <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm pt-3"><strong>Apellidos</strong></label>
    <div class="col-sm-10 pt-2">
      <input type="text" class="form-control form-control-sm  " id="colFormLabelSm" placeholder="ingresa apellidos">
    </div>
    <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm pt-3"><strong>Ciudad</strong></label>
    <div class="col-sm-10 pt-2">
      <select class="custom-select custom-select-sm">
  <option selected>Escoja la Ciudad</option>
  <option value="1">Cartagena</option>
  <option value="2">Turbaco</option>
  <option value="3">Arjona</option>
</select>
                        </div>

                    </div>
            </div>
            </form>
        </div>
    </section> -->

    <!-- .::CARDS::. -->

    <div class="container p-4 border-top ">
      <div class="row justify-content-between  p-3 ">
        <div class="col-12 col-md-6 col-lg-3  border mr-1 shadow ">
          <h1>Titulo <small>este es el titulo</small></h1>
          <p class="text-justify">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam,
            voluptate maiores voluptatum architecto explicabo! Distinctio
            impedit quaerat ipsa laudantium. Consequuntur dolor eaque,
            reprehenderit. Consequuntur molestiae soluta tempora corporis unde
            alias!
          </p>
        </div>
        <div class="col-12 col-md-6 col-lg-3  mr-1  border shadow">
          <h1>Titulo <small>este es el titulo</small></h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore
            quod vel repellat perferendis est sequi explicabo nobis corporis
            cum, odit magnam, adipisci praesentium magni odio quibusdam amet
            voluptatibus, eligendi minus.
          </p>
        </div>
        <div class="col-12 col-md-6 col-lg-3  border shadow">
          <h1>Titulo <small>este es el titulo</small></h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi vel
            nulla velit debitis aspernatur eligendi, mollitia atque repellat
            molestiae assumenda distinctio in quae, recusandae nesciunt quisquam
            modi odio ad est!
          </p>
        </div>
      </div>
    </div>
    <!-- .::SECTION 3::. -->
    <section class="container p-4 border-top">
      <div class="row  mt-4 ">
        <div class="col-12 col-md-3 text-center">
          <div class="container">
            <div class="row justify-content-center ">
              <div class="col-12 ">
                <img
                  src="../assets/img/celular.svg"
                  class="img-fluid shadow-sm "
                  alt=""
                />
              </div>
            </div>
          </div>
          <div class="container text-center pt-3 ">
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. In rerum
              consequuntur itaque laborum corporis? Suscipit nobis asperiores.
            </p>
          </div>
        </div>
        <div class="col-12 col-md-3 text-center">
          <div class="container">
            <div class="row justify-content-center ">
              <div class="col">
                <img
                  src="../assets/img/celular.svg"
                  class="img-fluid shadow-sm "
                  alt=""
                />
              </div>
            </div>
          </div>
          <div class="container text-center pt-3 ">
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. In rerum
              consequuntur itaque laborum corporis? Suscipit nobis asperiores.
            </p>
          </div>
        </div>
        <div class="col-12 col-md-3 text-center ">
          <div class="container">
            <div class="row justify-content-center ">
              <div class="col">
                <img
                  src="../assets/img/celular.svg"
                  class="img-fluid shadow-sm "
                  alt=""
                />
              </div>
            </div>
          </div>
          <div class="container text-center pt-3 ">
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. In rerum
              consequuntur itaque laborum corporis? Suscipit nobis asperiores.
            </p>
          </div>
        </div>
        <div class="col-12 col-md-3 text-center">
          <div class="container">
            <div class="row justify-content-center ">
              <div class="col">
                <img
                  src="../assets/img/celular.svg"
                  class="img-fluid shadow-sm "
                  alt=""
                />
              </div>
            </div>
          </div>
          <div class="container text-center pt-3 ">
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. In rerum
              consequuntur itaque laborum corporis? Suscipit nobis asperiores.
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- .::FOOTER::. -->
    <footer class="foot bg-dark text-center text-md-right text-white  ">
      <div class="container">
        <p class="m-0 py-3">
          <Spam>Jairo Javier Avila Maury. </Spam> Copyrigth &copy 2019. Todos
          los derechos reservados.
        </p>
      </div>
    </footer>
  </body>
  <script src="../js/jquery-3.4.1.min.js"></script>
  <script src="../js/popper.min.js"></script>
  <script src="../js/bootstrap.min.js"></script>
</html>
